<!DOCTYPE html>
<html lang="ko" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 부트스트랩 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <!-- 아이콘 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- 구글 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>NPB Stats</title>
</head>

<body>
    <header class="d-flex justify-content-between align-items-center p-3 text-white">
        <div class="logo">
            <a href="./index.html">
                <span class="pe-1">⚾</span>
                <span class="pb-1">Baseball Stats</span>
            </a>
        </div>
        <div class="d-flex gap-2 align-items-center">
            <button id="indexBtn" class="fw-bold">통계</button>
            <button id="adminBtn">관리자</button>
            <button id="themeBtn">
                <i class="bi bi-moon-stars-fill"></i>
            </button>
        </div>
    </header>

    <main class="container my-4">
        <div id="loginSection" class=""></div>
    </main>

    <footer>
        <p class="mb-0">&copy; 2025 NPB Stats. All rights reserved.</p>
    </footer>

    <script src="../static/js/main.js"></script>
</body>

</html>